.app{
  display: flex;
  justify-content: center;
}
.drum-pads{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.drum-pads{
box-shadow: 0 3PX 6PX black;
height: 100PX;
width: 100PX;
display: flex;
justify-content: center;
align-items: center;
}